<h1>Home</h1>
<%if session[:type] == "student" %>
	<h2><%= @student.firstname %>
		<%= @student.lastname %>
	</h2>
	<h3>Assignments</h3>
	<ul>
		<% @student.courses.each do |t| %>
			<li><%= t.name %></li>
			<!--PUT THE STUDENTS ASSIGNMENTS HERE -->
			<ul>
				<% t.assignments.each do |s| %>
					<li><%= link_to s.title, s %></li>
				<% end %>
			</ul>
			
		<% end %>
			
	</ul>

<%elsif session[:type] == "professor" %>
		
	
	<h3>Classes</h3>
	

<%end%>