// Place all the styles related to the assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {background-image: url("goldcolor.jpg"); width: 97%; color:#000066; padding:25px;  margin-bottom:0px; font-style: italic; font-family: "Times New Roman", Times, serif}

.formlabel { padding:10px; color:#fff; width:100%; font-weight: bold; font-style: italic; font-family: "Times New Roman", Times, serif; font-size: 16px }

body { background-image: url("bluebackground.jpg")}

.actions { color:#000066}

footer { float: left; width: 100%; text-align: center; border-top: thin solid #000; margin-top: 10px}